body {
    margin: 0;
    background-color: #2d2f41;
}

header {
    background-color: #ff6f61;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

input {
    border: 0px;
    background-color: transparent;
    color: #f0f0f0;
}

input::placeholder {
    color: #c5c5c5;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: #3c3f51;
    color: white;
    padding: 8px;
    border-radius: 12px;
}

.icon {
    width: 12px;
    height: 12px;
    fill: currentColor;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
}

.card {
    border-radius: 40px;
    background-color: rgba(24, 12, 66, .2); /* Added opacity to the background color */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.card > .title {
    flex-wrap: wrap;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0;
    overflow: hidden;
}

img {
    height: 200px;
    width: 150px;
    margin: 16px 0;
}

.info {
    font-size: 16px;
    color: #f0f0f0;
    margin-top: 16px;
}

.rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.rating .bi-fire {
    display: inline-block;
    margin: 0 .5px;
    transition: transform 0.2s, color 0.2s;
}

.rating .bi-fire a {
    color: #6d6951;
    transform: scale(1.2);
    transition: transform 0.2s, color 0.2s;
}

.rating .bi-fire a.active {
    color: #ffd322;
}

.rating .bi-fire:hover ~ .bi-fire a,
.rating .bi-fire:hover a {
    color: #ffd322;
    transform: scale(1.4);
}

.rating .bi-fire:hover ~ .bi-fire a.active,
.rating .bi-fire:hover a.active {
    color: #ffd322;
}
