body {
    margin: 0;
    background-color: #252525;
}

header {
    background-color: #FF0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

input {
    border: 0px;
    background-color: transparent;
    color: #f0f0f0;
}

input::placeholder {
    color: #c5c5c5;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: #3c3f51;
    color: white;
    padding: 8px;
    border-radius: 12px;
}

.icon {
    width: 12px;
    height: 12px;
    fill: currentColor;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
}

.card {
    border-radius: 40px;
    background-color: rgba(65, 65, 65, .2); /* Added opacity to the background color */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.card > .title {
    flex-wrap: wrap;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0;
    overflow: hidden;
}

img {
    height: 200px;
    width: 150px;
    margin: 16px 0;
}

.info {
    font-size: 16px;
    color: #f0f0f0;
    margin-top: 16px;
}

.rating {
    padding: 15px;
    margin-top: 15px;
}

.rating i {
    color: gainsboro;
    cursor: pointer;
    transition: color 0.3s ease; 
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.rating i:hover {
    color: gold;
    transform: scale(1.2);
}

.rating i.active {
    color: gold;
}

.bi-fire.hovered {
    color: gold;
    transform: scale(1.2);
    transition: 0.3s ease, transform 0.3s ease;
}